{% extends 'admin/base.html' %}
{% import 'UI/pagination.html' as pg %}
{% block title %}
    订单信息
{% endblock %}
{% block content %}
    <div class="main">
        <h2 class="sub-header">查询结果
        </h2>
        {% if odata %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>客户编号</th>
                        <th>产品编号</th>
                        <th>订单数量</th>
                        <th>产品单价</th>
                        <th>订单日期</th>
                        <th>订单状态</th>
                        <th>总金额</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for v in odata %}
                        <tr class="or-list">
                            <td>{{ v.Order.OrderId }}</td>
                            <td>{{ v.Order.CustomId }}</td>
                            <td>{{ v.Order.ProductId }}</td>
                            <td class="or-num">{{ v.Order.OrderNum }}</td>
                            <td class="or-price">{{ v.Product.ProductPrice }}</td>
                            <td>{{ v.Order.OrderDate }}</td>
                            <td>{{ v.Order.OrderStatus }}</td>
                            <td class="sum-money"></td>
                            <td><a href="{{ url_for('admin.edit_Order',id=v.Order.id) }}"
                                   class="btn btn-primary btn-xs">编辑</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-center text-primary" style="font-size: 20px;"> 您目前没有订单信息</div>
        {% endif %}
    </div>
    <script>
        oList = document.getElementsByClassName('or-list');
        for (let i = 0; i < oList.length; i++) {
            oNum = oList[i].getElementsByClassName('or-num')[0];
            oPrice = oList[i].getElementsByClassName('or-price')[0];
            oSum = oList[i].getElementsByClassName('sum-money')[0];
            oSum.innerHTML = Number(oNum.innerHTML) * Number(oPrice.innerHTML);

        }
    </script>
{% endblock %}