{% extends 'admin/base.html' %}
{% import 'UI/pagination.html' as pg %}
{% block title %}
    库存信息
{% endblock %}
{% block content %}
    <div class="main">
        <h2 class="sub-header">库存信息
            <form class="form-inline pull-right" method="post" action="{{ url_for('admin.search_store') }}">
                <div class="form-group">
                    <label class="sr-only" for="search">快速查找</label>
                    <input type="text" name="search-info" class="form-control" id="search" placeholder="产品编号/生产商">
                </div>
                <button type="submit" class="btn btn-primary">查找</button>
            </form>
        </h2>
        {% if stdata %}

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>生产商</th>
                        <th>生产日期</th>
                        <th>产品种类</th>
                        <th>产品价格</th>
                        <th>库存数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for v in stdata.items %}
                        <tr>
                            <td>{{ v.ProductId }}</td>
                            <td>{{ v.ProductName }}</td>
                            <td>{{ v.ProducerName }}</td>
                            <td>{{ v.ProductDate }}</td>
                            <td>{{ v.ProductType }}</td>
                            <td>{{ v.ProductPrice }}</td>
                            <td>{{ v.ProductNum }}</td>
                            <td>
                                <a href="{{ url_for('admin.edit_store',id=v.id) }}" class="btn btn-primary btn-xs">编辑</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="center-block">
                {{ pg.page(stdata,'admin.store_info') }}
            </div>
        {% else %}
            <div class="text-center text-primary" style="font-size: 20px;"> 您目前没有库存信息</div>
        {% endif %}
    </div>
{% endblock %}