{% extends 'base.html' %}
{% block title %}
    添加售后信息
{% endblock %}
{% block content %}
    <div class="main">
        <h2 class="sub-header">添加售后</h2>
        <form class="form-horizontal" method="post">
            <div class="form-group ">
                <label class="col-xs-1 control-label">售后编号</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Seid }}
                </div>
                {% for err in form.Seid.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">客户编号</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Cid }}
                </div>
                {% for err in form.Cid.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">售后日期</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Sedate }}
                </div>
                {% for err in form.Sedate.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}

            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">售后说明</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Seinfo }}
                </div>
                {% for err in form.Seinfo.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {#                        <button type="submit" class="btn btn-primary">添加</button>#}
                    {{ form.hidden_tag() }}
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}