{% extends 'base.html' %}

{% block title %}
    主页面
{% endblock %}
{% block content %}
    <div class="main">
        <h2 class="sub-header">添加配送</h2>
        <form class="form-horizontal" method="post">
            <div class="form-group ">
                <label class="col-xs-1 control-label">订单编号</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Oid }}
                </div>
                 {% for err in form.Oid.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">产品名称</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Pname }}
                </div>
                 {% for err in form.Pname.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">配送人</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Sname }}
                </div>
                 {% for err in form.Sname.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">配送日期</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Sdate }}
                </div>
                 {% for err in form.Sdate.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">联系方式</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Sphone }}
                </div>
                 {% for err in form.Sphone.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">配送地址</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.Saddress }}
                </div>
                 {% for err in form.Saddress.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {#                        <button type="submit" class="btn btn-primary">添加</button>#}
                    {{ form.hidden_tag() }}
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}