{% extends 'base.html' %}
{% block title %}
    添加客户信息
{% endblock %}
{% block content %}
    <div class="main">
        <h2 class="sub-header">添加信息</h2>
        <form class="form-horizontal" method="post">
            <div class="form-group ">
                <label class="col-xs-1 control-label">客户编号</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.customid }}
                </div>
                {% for err in form.customid.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}

            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">客户姓名</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.customname }}
                </div>
                {% for err in form.customname.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">联系方式</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.customphone }}
                </div>
                {% for err in form.customphone.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">客户地址</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.customaddress }}
                </div>
                {% for err in form.customaddress.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">账户金额</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.customaccount }}
                </div>
                {% for err in form.customaccount.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">客户类型</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.customtype }}
                </div>
                {% for err in form.customtype.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {#                        <button type="submit" class="btn btn-primary">添加</button>#}
                    {{ form.hidden_tag() }}
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}