{% extends 'base.html' %}
{% block title %}
    添加库存信息
{% endblock %}
{% block content %}
    <div class="main">
        <h2 class="sub-header">添加库存</h2>
        <form class="form-horizontal" method="post">
            <div class="form-group ">
                <label class="col-xs-1 control-label">产品编号</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.pid }}
                </div>
                {% for err in form.pid.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">产品名称</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.pname }}
                </div>
                {% for err in form.pname.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">生产商</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.producer }}
                </div>
                {% for err in form.producer.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">生产日期</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.pdate }}
                </div>
                {% for err in form.pdate.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">产品种类</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.ptype }}
                </div>
                {% for err in form.ptype.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">产品价格</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.price }}
                </div>
                {% for err in form.price.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group ">
                <label class="col-xs-1 control-label">库存数量</label>
                <div class="col-xs-3">
                    {#                        <input type="text" class="form-control" placeholder="">#}
                    {{ form.pnum }}
                </div>
                {% for err in form.pnum.errors %}
                    <div class="col-xs-3 text-danger">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {#                        <button type="submit" class="btn btn-primary">添加</button>#}
                    {{ form.hidden_tag() }}
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}