<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/signin.css') }}">
    <title>登陆选项</title>

</head>

<body>
<div class="container">
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading text-center">系修改密码</h2>
        <div class="form-label">用户名</div>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <div class="form-label">旧密码</div>
        <input type="password" class="form-control" placeholder="Password" required="">
        <div class="form-label">新密码</div>
        <input type="password" class="form-control" placeholder="Password" required="">
        <div class="form-label">确认新密码</div>
        <input type="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-md btn-primary btn-block" type="submit">登陆</button>
        <a href="#" class="btn btn-md btn-primary btn-block">注册</a>
    </form>
</div>
</body>

</html>