{% extends 'base.html' %}
{% import 'UI/pagination.html' as pg %}
{% block title %}
    订单信息
{% endblock %}
{% block content %}
    <div class="main">
        <h2 class="sub-header">订单信息
        <form class="form-inline pull-right" method="post" action="{{ url_for('search_order') }}">
                <div class="form-group">
                    <label class="sr-only" for="search">快速查找</label>
                    <input type="text" name="search-info" class="form-control" id="search" placeholder="订单编号/订单状态">
                </div>
                <button type="submit" class="btn btn-primary">查找</button>
            </form>
        </h2>
        {% if odata %}

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>客户编号</th>
                        <th>产品编号</th>
                        <th>订单数量</th>
                        <th>订单日期</th>
                        <th>订单状态</th>
                        <th>总金额</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for v in odata.items %}
                        <tr>
                            <td>{{ v.OrderId }}</td>
                            <td>{{ v.CustomId }}</td>
                            <td>{{ v.ProductId }}</td>
                            <td>{{ v.OrderNum }}</td>
                            <td>{{ v.OrderDate }}</td>
                            <td>{{ v.OrderStatus }}</td>
                            <td>{{ v.OrderMoney }}</td>
                            <td><a href="{{ url_for('edit_Order',id=v.id) }}" class="btn btn-primary btn-xs">编辑</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="center-block">
                {{ pg.page(odata,'order_info') }}
            </div>
        {% else %}
            <div class="text-center text-primary" style="font-size: 20px;"> 您目前没有订单信息</div>
        {% endif %}
    </div>
{% endblock %}