{% extends 'base.html' %}
{% block title %}
    售后信息
{% endblock %}
{% block content %}
    <div class="main">
            <h2 class="sub-header">售后信息</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>售后编号</th>
                            <th>客户编号</th>
                            <th>售后日期</th>
                            <th>售后说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2018041101</td>
                            <td>201711702</td>
                            <td>2018-2-3</td>
                            <td>设备维修</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}